@{
    Layout = "_Layout";
    ViewBag.Title = "Register";
}
@model RegisterViewModel


<div class="container">
    <div class="row centered-form row-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Sign up for LIFT <sup> It's free!</sup></h1>
            </div>
            <div class="panel-body">
                <form role="form" method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="All"></div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input asp-for="Username" class="form-control input-sm" placeholder="User Name">
                                <span asp-validation-for="Username" />
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input asp-for="Email" class="form-control input-sm" placeholder="Email Address">
                                <span asp-validation-for="Email" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input asp-for="Password" class="form-control input-sm" placeholder="Password">
                                <span asp-validation-for="Password" />
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input asp-for="ConfrimPassword" class="form-control input-sm" placeholder="Confirm Password">
                                <span asp-validation-for="ConfrimPassword" />
                            </div>
                        </div>
                    </div>

                    <input type="submit" value="Register" class="btn btn-warning btn-block">

                </form>
            </div>
        </div>
    </div>
</div>
