
@model LiftsListViewModel


<div class="container">
    @{

        var queryExercise =
            from lift in Model.Lifts
            group lift by new { lift.ExercisePerfromed, lift.DateTimePerformed } into newGroup
            select newGroup;

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>
                        Exercise
                    </th>
                    <th>
                        Set
                    </th>
                    <th>
                        Reps
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Date Performed
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var x in queryExercise)
            {
                List<int> setsList = new List<int>();
                List<int> repsList = new List<int>();
                List<int> weightList = new List<int>();

                var setNum = 1;

                @foreach (var info in x)
                {

                    setsList.Add(setNum);
                    repsList.Add(info.Reps);
                    weightList.Add(info.Weight);

                    setNum = setNum + 1;

                }

                <tr>
                    <td>
                        @x.Key.ExercisePerfromed
                    </td>
                    <td>
                        @foreach (var i in setsList)
                        {
                            @i;
                            <br />

                        }
                    </td>
                    <td>
                        @foreach (var i in repsList)
                        {
                            @i;
                            <br />

                        }
                    </td>
                    <td>
                        @foreach (var i in weightList)
                        {
                            @i;
                            <br />

                        }
                    </td>
                    <td>
                        @x.Key.DateTimePerformed
                    </td>

                </tr>
            }

        </table>

        }

        <!-- This is the pagination things at the bottom -->
        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-default"
             page-class-selected="btn-warning" class="btn-group">
        </div>

</div>
