
@model LiftsListViewModel

@{
    var queryExercise =
        from lift in Model.Lifts
        group lift by new {lift.ExercisePerfromed, lift.DateTimePerformed} into newGroup
        select newGroup;

    foreach (var nameGroup in queryExercise)
    {
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@nameGroup.Key.ExercisePerfromed</h5>

            @foreach (var info in nameGroup)
            {

                <p class="card-text">Set # Reps: @info.Reps, Weight: @info.Weight</p>

            }
        </div>
    </div>
    }
}


<!-- This is the pagination things at the bottom -->
<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-default"
     page-class-selected="btn-warning" class="btn-group">
</div>

