@model LIFTWebApp.Models.Lift

@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <h1>Edit Lift</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="LiftID" />
                <div class="form-group">
                    <label asp-for="UserID" class="control-label"></label>
                    <input asp-for="UserID" class="form-control" />
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateTimePerformed" class="control-label"></label>
                    <input asp-for="DateTimePerformed" class="form-control" />
                    <span asp-validation-for="DateTimePerformed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExercisePerfromed" class="control-label"></label>
                    <input asp-for="ExercisePerfromed" class="form-control" />
                    <span asp-validation-for="ExercisePerfromed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Weight" class="control-label"></label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reps" class="control-label"></label>
                    <input asp-for="Reps" class="form-control" />
                    <span asp-validation-for="Reps" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>
